SoapDemoAnnotated/WebContent/wsdl/SoapDemoWSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.demo.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.demo.com" xmlns:intf="http://soap.demo.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.demo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="searchIt">
    <complexType>
     <sequence>
      <element name="make" type="xsd:string"/>
      <element name="model" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchItResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchItRequest">

      <wsdl:part element="impl:searchIt" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchItResponse">

      <wsdl:part element="impl:searchItResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SoapDemoWSImpl">

      <wsdl:operation name="searchIt">

         <wsdl:input message="impl:searchItRequest" name="searchItRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchItResponse" name="searchItResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SoapDemoWSImplSoapBinding" type="impl:SoapDemoWSImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchIt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchItRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchItResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SoapDemoWSImplService">

      <wsdl:port binding="impl:SoapDemoWSImplSoapBinding" name="SoapDemoWSImpl">

         <wsdlsoap:address location="http://localhost:8080/SoapDemoAnnotated/services/SoapDemoWSImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
